<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .routeName }} Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/leaflet.css">
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <!-- ... (keep existing navbar code) ... -->
</nav>
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Route</a></li>
        <li><a href="#section2">Driver</a></li>
        <li><a href="#section3">Truck</a></li>
        <li><a href="#section3">Comments</a></li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <h4>Route</h4>
      </div>
      <div id="svgDiv" class="well">
            <canvas id="MapDisplay"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  const svgCanvas = document.getElementById('MapDisplay');
  const ctx = svgCanvas.getContext('2d');
  const aspectRatio = 1.777

  function loadSVG(filePath) {
    fetch(filePath)
      .then(response => response.text())
      .then(data => {
        const img = new Image();
        img.onload = () => drawImage(img);
        img.src = `data:image/svg+xml;base64,${btoa(data)}`;
      })
      .catch(error => console.error('Error loading SVG:', error));
  }

  function drawImage(img) {
    ctx.clearRect(0, 0, svgCanvas.width, svgCanvas.height);
    
    const containerWidth = document.getElementById('svgDiv').offsetWidth - 50;
    const containerHeight = containerWidth / aspectRatio;
    
    const scaleFactor = Math.min(containerWidth / img.width, containerHeight / img.height);
    const newWidth = img.width * scaleFactor;
    const newHeight = img.height * scaleFactor;
    
    const x = (containerWidth - newWidth) / 2;
    const y = (containerHeight - newHeight) / 2;
    
    ctx.drawImage(img, x, y, newWidth, newHeight);
  }

  window.addEventListener('resize', () => {
    const div = document.getElementById('svgDiv').offsetWidth - 50;
    svgCanvas.width = div;
    svgCanvas.height = div / aspectRatio;
    drawImage(document.querySelector(loadSVG(svgPath)));
  });
  
  const svgPath = 'static/user-boy.svg';
  loadSVG(svgPath);
</script>
</body>
</html>