<a href="https://opencagedata.com/">OpenCage Data</a>
<div id="map" style="height: 650px"></div>
<textarea id="address-input" placeholder="Paste addresses here, one per line..."></textarea>
<button onclick="addMarkers()">Add Markers</button>
<button onclick="copySelectedMarkersToClipboard()">Copy Markers</button>
<div id="selected-addresses">
  <div id="leftList">
    <ul id="sortable-list">List of Selected Addresses</ul>
  </div>
  <div id="rightList">
    <ul id="tempList">
      <li>Temp Item</li>
    </ul>
  </div>
</div>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="static/map.js"></script>
